.grid-container {
    display: grid;
    gap: 40px;
    padding: 150px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: 1px solid;
  }
  
  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  
  .item3 {
    grid-column: 3 ;
    grid-row: 2 ;
  }
  
  .item4 {
    grid-column: 1 ;
    grid-row: 4  ;
  }
  
  .item5 {
    grid-column: 2 ;
    grid-row: 4 ;
  }
  
  .item6 {
    grid-column: 3 ;
    grid-row: 4 ;
  }
  
  .item7 {
    grid-column: 1 / span 3;
    grid-row: 5;
  }
  
  #contect {
    text-align: left;
    padding-left: 8%;
  }
  
  #list {
  text-align: left;
  padding-left: 30%;
  }